<div class="flex flex-row gap-4 p-4" style="width: 100%; height: 100%">
  <div class="flex flex-column flex-grow-1 gap-2 pr-4 border-right-2 border-primary-500 h-full">
     <app-map #mapComponent style="width: 100%; height: 100%"></app-map>

    <!-- spacing -->
    <div class="flex-grow-1"></div>

    <div class="flex flex-row align-items-center gap-4" style="height: 30px;">
      @if (this.latestWeatherDataProgress?.inProgress) {
        <p-progressBar mode="indeterminate" class="w-full" #inProgressProgressBar>
          <ng-template pTemplate="content">
            <span>{{ this.latestWeatherDataProgress?.message }}</span>
          </ng-template>
        </p-progressBar>

        <p-button (onClick)="openProgressInfoWindow()" styleClass="w-full">
          <span pButtonLabel i18n>Info</span>
        </p-button>
        <p-button styleClass="w-full" (onClick)="cancelWeatherImageGeneration()">
          <span pButtonLabel i18n>Cancel</span>
        </p-button>
      }
      @else {
        <p-progressBar [value]="((lastReadMainSessionData.currentWeatherImageIndex + 1) / lastReadMainSessionData.numberOfWeatherImages) * 100" class="w-full">
          <ng-template pTemplate="content">
            <span>{{lastReadMainSessionData.currentWeatherImageIndex + 1}} / {{lastReadMainSessionData.numberOfWeatherImages}}</span>
          </ng-template>
        </p-progressBar>

        <div class="flex flex-row flex-shrink-1 gap-1">
          <p-button icon="pi pi-arrow-left" size="small" (onClick)="changeWeatherImageIndex(-1)" [disabled]="weatherImages.length === 0" />
          <p-button [icon]="'pi ' + (imageAnimationInterval ? 'pi-pause-circle' : 'pi-play-circle')" [disabled]="weatherImages.length === 0" size="small" (onClick)="toggleWeatherImageAnimation()" />
          <p-button icon="pi pi-arrow-right" size="small" (onClick)="changeWeatherImageIndex(+1)" [disabled]="weatherImages.length === 0" />
        </div>
      }
    </div>
  </div>

  <div class="flex flex-column flex-grow-0 gap-3 h-full" style="width: 20%; min-width: 180px; max-width: 350px;">
    <div class="flex flex-column flex-grow-1 gap-3 pr-4 overflow-y-auto">
      <label for="location" i18n>Location:</label>
      <div class="w-full flex gap-1">
          <div class="flex-grow-1">
            <p-dropdown
              #locationDropdown
              [options]="locationsService.getLocations()"
              [(ngModel)]="regionInDropdown"
              (onChange)="applyLocation(regionInDropdown)"
              optionLabel="name"
              placeholder="Select a location"
              styleClass="w-full"
              [disabled]="disableLocationDropdown"
            />
          </div>

          <p-button
            (onClick)="mapPanToLocation()"
            icon="pi pi-map-marker"
            [style]="{'color': 'var(--primary-color)'}"
            styleClass="surface-100 hover:bg-primary border-transparent"
            [pTooltip]="localizedTexts.mapPanToLocationTooltip"
          />
        </div>

      <div class="flex flex-col text-center">
        <div>
          <label for="latitude" i18n>Latitude:</label>
          <p-inputNumber
            inputId="latitude"
            [(ngModel)]="usedCoordinates.latitude"
            (onInput)="debouncedUpdateSessionData()"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
            [inputStyle]="{'width': '100%', 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)'}"
            styleClass="w-full"
          />
        </div>
        <div>
          <label for="longitude" i18n>Longitude:</label>
          <p-inputNumber
            inputId="longitude"
            [(ngModel)]="usedCoordinates.longitude"
            (onInput)="debouncedUpdateSessionData()"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
            [inputStyle]="{'width': '100%', 'border-radius': '0 var(--border-radius) var(--border-radius) 0'}"
            styleClass="w-full border-left-none"
          />
        </div>
      </div>

      <label for="size" i18n>Size:</label>
      <div class="flex flex-row">
        <p-inputNumber
          [(ngModel)]="mainSessionDataForUpdate.regionSize.length"
          (onInput)="debouncedUpdateSessionData()"
          inputId="size"
          [inputStyle]="{'text-align': 'right' , 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'width': '100%'}"
          styleClass="w-full" class="w-full"
        />
        <p-dropdown
          [(ngModel)]="mainSessionDataForUpdate.regionSize.unit"
          (onChange)="updateSessionData()"
          [options]="['km', 'mi']"
          [style]="{'width': '7rem', 'border-radius': '0 var(--border-radius) var(--border-radius) 0'}"
        />
      </div>

      <label for="resolution" i18n>Resolution (n &#x2715; n steps):</label>
      <p-inputNumber
        inputId="resolution"
        [(ngModel)]="mainSessionDataForUpdate.regionResolution"
        (onInput)="debouncedUpdateSessionData()"
        mode="decimal"
        [inputStyle]="{'width': '100%'}"
        styleClass="w-full"
      />

      <label for="forecast" i18n>Forecast length:</label>
      <div class="flex flex-row">
        <p-inputNumber
          inputId="forecast"
          [inputStyle]="{'text-align': 'right' , 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'width': '100%'}"
          styleClass="w-full"
          class="w-full"
          [(ngModel)]="mainSessionDataForUpdate.forecastLength.value"
          (onInput)="debouncedUpdateSessionData()"
        />
        <p-dropdown
          [(ngModel)]="mainSessionDataForUpdate.forecastLength.unit"
          (onChange)="debouncedUpdateSessionData()"
          [options]="[localizedTexts.selectionHours, localizedTexts.selectionDays]"
          [style]="{'width': '7rem', 'border-radius': '0 var(--border-radius) var(--border-radius) 0'}" />
      </div>

      <p-checkbox
        [(ngModel)]="mainSessionDataForUpdate.useOverriddenTimezone"
        [binary]="true"
        (onChange)="debouncedUpdateSessionData()"
        [label]="localizedTexts.useOverriddenTimezoneLabel" />
      <p-dropdown
        [options]="timezoneList"
        (onChange)="debouncedUpdateSessionData()"
        optionValue="name"
        optionLabel="name"
        [group]="true"
        styleClass="w-full"
        [filter]="true"
        filterBy="name"
        [style]="{'z-index': 3}"
        [(ngModel)]="mainSessionDataForUpdate.overriddenTimezoneCode"
        [disabled]="!lastReadMainSessionData.useOverriddenTimezone" >

        <ng-template let-group pTemplate="group">
          <div class="flex align-items center color-primary">
            <span>---- {{group.label}} ----</span>
          </div>
        </ng-template>

      </p-dropdown>

      <label for="source" i18n>Source:</label>
      <p-dropdown
        [options]="getDataSourcesList()"
        [(ngModel)]="mainSessionDataForUpdate.weatherDataSource"
        (onChange)="updateSessionData()"
        [style]="{'width': '100%', 'z-index': 2}" />

      <label for="condition" i18n>Condition:</label>
      <p-dropdown
        inputId="condition"
        optionLabel="condition"
        [options]="weatherConditions"
        [(ngModel)]="mainSessionDataForUpdate.weatherCondition"
        (onChange)="updateSessionData()"
        [style]="{'width': '100%', 'z-index': 1}" />
    </div>

    <div class="flex-grow-1 border-bottom-2 border-primary-500"></div>
    <p-button (onClick)="startWeatherImageGeneration()" styleClass="w-full">
      <span pButtonLabel i18n>Generate images</span>
    </p-button>
  </div>
</div>
