<div class="flex flex-row gap-4 p-4" style="width: 100%; height: 100%">
  <div class="flex flex-column flex-grow-1 gap-2 pr-4 border-right-2 border-primary-500 h-full">
     <app-map #mapComponent style="width: 100%; height: 100%"></app-map>

    <!-- spacing -->
    <div class="flex-grow-1"></div>

    <div class="flex flex-row align-items-center gap-4" style="height: 30px;">
      @if (this.latestWeatherDataProgress?.inProgress) {
        <p-progressBar [value]="latestProgressValue" class="w-full" id="inProgressProgressBar" #inProgressProgressBar />

        <p-button [label]="localizedTexts.buttonGenerationProgressInfo" (onClick)="openProgressInfoWindow()" styleClass="w-full" />
        <p-button [label]="localizedTexts.buttonCancelImgGeneration" styleClass="w-full" (onClick)="cancelWeatherImageGeneration()" />
      }
      @else {
        <p-progressBar [value]="((lastReadMainSessionData.currentWeatherImageIndex + 1) / lastReadMainSessionData.numberOfWeatherImages) * 100" class="w-full">
          <ng-template pTemplate="content">
            <span>{{lastReadMainSessionData.currentWeatherImageIndex + 1}} / {{lastReadMainSessionData.numberOfWeatherImages}}</span>
          </ng-template>
        </p-progressBar>

        <div class="flex flex-row flex-shrink-1 gap-1">
          <p-button icon="pi pi-arrow-left" size="small" (onClick)="changeWeatherImageIndex(-1)" [disabled]="weatherImages.length === 0" />
          <p-button [icon]="'pi ' + (imageAnimationInterval ? 'pi-pause-circle' : 'pi-play-circle')" [disabled]="weatherImages.length === 0" size="small" (onClick)="toggleWeatherImageAnimation()" />
          <p-button icon="pi pi-arrow-right" size="small" (onClick)="changeWeatherImageIndex(+1)" [disabled]="weatherImages.length === 0" />
        </div>
      }
    </div>
  </div>

  <div class="flex flex-column flex-grow-0 gap-3 h-full" style="width: 20%; min-width: 180px; max-width: 350px;">
    <div class="flex flex-column flex-grow-1 gap-3 pr-4 overflow-y-auto border-bottom-2 border-primary-500">
      <label for="location" i18n>Location:</label>
      <div class="w-full flex gap-1">
          <div class="flex-grow-1">
            <p-dropdown
              #locationDropdown
              [options]="locationsService.getLocations()"
              [(ngModel)]="regionInDropdown"
              (onChange)="applyLocation(regionInDropdown)"
              optionLabel="name"
              [placeholder]="localizedTexts.locationDropdownPlaceholder"
              styleClass="w-full"
              [disabled]="disableLocationDropdown"
            />
          </div>

          <p-button
            (onClick)="mapPanToLocation()"
            icon="pi pi-map-marker"
            styleClass="border-transparent h-full"
            [pTooltip]="localizedTexts.mapPanToLocationTooltip"
            tooltipPosition="left"
          />
        </div>

      <div class="flex flex-row text-center"> 
        <div>
          <label for="latitude" i18n>Latitude:</label>
          <p-inputNumber
            inputId="latitude"
            [(ngModel)]="usedCoordinates.latitude"
            (onInput)="debouncedUpdateSessionData()"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
            [inputStyle]="{'width': '100%'}"
            class="rounded-left no-border-right"
          />
        </div>
        <div>
          <label for="longitude" i18n>Longitude:</label>
          <p-inputNumber
            inputId="longitude"
            [(ngModel)]="usedCoordinates.longitude"
            (onInput)="debouncedUpdateSessionData()"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
            [inputStyle]="{'width': '100%'}"
            class="rounded-right"
          />
        </div>
      </div>

      <label for="size" i18n>Size:</label>
      <div class="flex flex-row">
        <p-inputNumber
          [(ngModel)]="mainSessionDataForUpdate.regionSize.length"
          (onInput)="debouncedUpdateSessionData()"
          inputId="size"
          [inputStyle]="{'text-align': 'right' , 'width': '100%'}"
          class="rounded-left no-border-right"
        />
        <p-dropdown
          [(ngModel)]="mainSessionDataForUpdate.regionSize.unitId"
          (onChange)="updateSessionData()"
          [options]="regionSizeOptions"
          optionLabel="display"
          optionValue="id"
          [style]="{'width': '7rem'}"
          class="rounded-right"
        />
      </div>

      <label for="resolution" i18n>Resolution (n &#x2715; n steps):</label>
      <div>
        <p-inputNumber
          inputId="resolution"
          [(ngModel)]="mainSessionDataForUpdate.regionResolution"
          [showButtons]="true"
          (onInput)="debouncedUpdateSessionData()"
          mode="decimal"
          [inputStyle]="{'width': '100%'}"
          styleClass="w-full"
        />
        <p [style]="{'font-size': 'small'}">{{getStepsString()}}</p>
      </div>
      
      <label for="forecast" i18n>Forecast length:</label>
      <div class="flex flex-row">
        <p-inputNumber
          inputId="forecast"
          [inputStyle]="{'text-align': 'right', 'width': '100%' }"
          class="rounded-left no-border-right"
          [(ngModel)]="mainSessionDataForUpdate.forecastLength.value"
          (onInput)="debouncedUpdateSessionData()"
        />
        <p-dropdown
          [(ngModel)]="mainSessionDataForUpdate.forecastLength.unitId"
          optionLabel="display"
          optionValue="id"
          (onChange)="debouncedUpdateSessionData()"
          [options]="forecastLengthOptions"
          [style]="{'width': '9rem'}"
          class="rounded-right" />
      </div>

      <div class="flex items-center gap-2">
        <p-checkbox
        [(ngModel)]="mainSessionDataForUpdate.useOverriddenTimezone"
        [binary]="true"
        (onChange)="debouncedUpdateSessionData()"
        inputId="overrideTimezoneCheckbox" />
        <label for="overrideTimezoneCheckbox" i18n>Override location's timezone</label>
      </div>
      
      <p-dropdown
        [options]="timezoneList"
        (onChange)="debouncedUpdateSessionData()"
        optionValue="name"
        optionLabel="name"
        [group]="true"
        styleClass="w-full"
        [filter]="true"
        filterBy="name"
        [style]="{'z-index': 3}"
        [(ngModel)]="mainSessionDataForUpdate.overriddenTimezoneCode"
        [disabled]="!lastReadMainSessionData.useOverriddenTimezone" >

        <ng-template let-group pTemplate="group">
          <div class="flex align-items center color-primary">
            <span>---- {{group.label}} ----</span>
          </div>
        </ng-template>

      </p-dropdown>

      <label for="source" i18n>Source:</label>
      <p-dropdown
        [options]="getDataSourcesList()"
        [(ngModel)]="mainSessionDataForUpdate.weatherDataSource"
        (onChange)="updateSessionData()"
        [style]="{'width': '100%', 'z-index': 2}" />

      <label for="condition" i18n>Condition:</label>
      <p-dropdown
        inputId="condition"
        optionLabel="condition"
        [options]="allWeatherConditions[lastReadMainSessionData.weatherDataSource]"
        [(ngModel)]="mainSessionDataForUpdate.weatherCondition"
        (onChange)="updateSessionData()"
        [style]="{'width': '100%', 'z-index': 1}" />
    </div>

    <p-button [label]="localizedTexts.buttonGenerateImages" (onClick)="startWeatherImageGeneration()" [disabled]="latestWeatherDataProgress?.inProgress" styleClass="w-full" />
  </div>
</div>
