<div class="flex flex-row gap-4 p-4" style="width: 100%; height: 100%">
  <div class="flex flex-column flex-grow-1 gap-2 pr-4 border-right-2 border-primary-500 h-full">
     <app-map #mapComponent style="width: 100%; height: 100%"></app-map>

    <!-- spacing -->
    <div class="flex-grow-1"></div>

    <div class="flex flex-row align-items-center gap-4" style="height: 30px;">
      @if (this.latestWeatherDataProgress?.inProgress) {
        <p-progressBar mode="indeterminate" class="w-full" #inProgressProgressBar>
          <ng-template pTemplate="content">
            <span>{{ this.latestWeatherDataProgress?.message }}</span>
          </ng-template>
        </p-progressBar>

        <p-button label="Info" (onClick)="openProgressInfoWindow()" styleClass="w-full" />
        <p-button label="Cancel" styleClass="w-full" />
      }
      @else {
        <p-progressBar [value]="((latestMainSessionData.currentWeatherImageIndex + 1) / latestMainSessionData.numberOfWeatherImages) * 100" class="w-full">
          <ng-template pTemplate="content">
            <span>{{latestMainSessionData.currentWeatherImageIndex + 1}} / {{latestMainSessionData.numberOfWeatherImages}}</span>
          </ng-template>
        </p-progressBar>

        <div class="flex flex-row flex-shrink-1 gap-1">
          <p-button icon="pi pi-arrow-left" size="small" (onClick)="changeWeatherImageIndex(-1)" />
          <p-button icon="pi pi-pause-circle" size="small" (onClick)="pauseWeatherImageAnimation()" />
          <p-button icon="pi pi-arrow-right" size="small" (onClick)="changeWeatherImageIndex(+1)" />
        </div>
      }
    </div>
  </div>

  <div class="flex flex-column flex-grow-0 gap-3 h-full" style="width: 20%; min-width: 180px; max-width: 350px;">
    <div class="flex flex-column flex-grow-1 gap-3 pr-4 overflow-y-auto">
      <label for="location">Location:</label>
      <div class="w-full flex gap-1">
          <div class="flex-grow-1">
            <p-dropdown
              #locationDropdown
              [options]="getLocationsList()"
              [(ngModel)]="regionInDropdown"
              (onChange)="applyLocation(regionInDropdown)"
              optionLabel="name"
              placeholder="Select a location"
              styleClass="w-full"
            />
          </div>

          <p-button
            (onClick)="mapPanToLocation()"
            icon="pi pi-map-marker"
            [style]="{'color': 'var(--primary-color)'}"
            styleClass="surface-100 hover:bg-primary border-transparent"
            pTooltip="Click to center the map on the selected location."
          />
        </div>

      <div class="flex flex-col text-center">
        <div>
          <label for="latitude">Latitude:</label>
          <p-inputNumber
            inputId="latitude"
            [(ngModel)]="usedCoordinates.latitude"
            (onInput)="updateSessionData()"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
            [inputStyle]="{'width': '100%', 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)'}"
            styleClass="w-full"
          />
        </div>
        <div>
          <label for="longitude">Longitude:</label>
          <p-inputNumber
            inputId="longitude"
            [(ngModel)]="usedCoordinates.longitude"
            (onInput)="updateSessionData()"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="6"
            [inputStyle]="{'width': '100%', 'border-radius': '0 var(--border-radius) var(--border-radius) 0'}"
            styleClass="w-full border-left-none"
          />
        </div>
      </div>

      <label for="size">Size:</label>
      <div class="flex flex-row">
        <p-inputNumber
          [(ngModel)]="latestMainSessionData.regionSize.length"
          inputId="size"
          [inputStyle]="{'text-align': 'right' , 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'width': '100%'}"
          styleClass="w-full" class="w-full"
        />
        <p-dropdown
          [(ngModel)]="latestMainSessionData.regionSize.unit"
          [options]="['km', 'mi']"
          [style]="{'width': '7rem', 'border-radius': '0 var(--border-radius) var(--border-radius) 0'}"
        />
      </div>

      <label for="resolution">Resolution (n &#x2715; n steps):</label>
      <p-inputNumber
        inputId="resolution"
        [(ngModel)]="latestMainSessionData.regionResolution"
        mode="decimal"
        [inputStyle]="{'width': '100%'}"
        styleClass="w-full"
      />

      <label for="forecast">Forecast length:</label>
      <div class="flex flex-row">
        <p-inputNumber
          inputId="forecast"
          [inputStyle]="{'text-align': 'right' , 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'width': '100%'}"
          styleClass="w-full"
          class="w-full"
          [(ngModel)]="latestMainSessionData.forecastLength.value"
        />
        <p-dropdown
          [(ngModel)]="latestMainSessionData.forecastLength.unit"
          [options]="['hours', 'days']"
          [style]="{'width': '7rem', 'border-radius': '0 var(--border-radius) var(--border-radius) 0'}" />
      </div>

      <label for="source">Source:</label>
      <p-dropdown
        [options]="getDataSourcesList()"
        [(ngModel)]="latestMainSessionData.weatherDataSource"
        [style]="{'width': '100%'}" />

      <label for="condition">Condition:</label>
      <p-dropdown
        inputId="condition"
        [options]="['Cloudiness (%)']"
        [style]="{'width': '100%'}" />
    </div>

    <div class="flex-grow-1 border-bottom-2 border-primary-500"></div>
    <p-button label="Generate images" (onClick)="startWeatherImageGeneration()" styleClass="w-full" />
  </div>
</div>
