<p-toast />

<p-tabView [scrollable]="true">
  <p-tabPanel [header]="localizedTexts.titleGeneralSettings">
    <p class="mt-0" i18n>Language:</p>
    <p-dropdown
      [options]="languages"
      styleClass="w-full"
      optionValue="key"
      optionLabel="label"
      [style]="{'z-index': '3'}"
      [(ngModel)]="selectedLanguageKey" >

      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" @if(selectedLanguage)>
          <span [class]="'fi fi-' + getLanguageFromKey(selectedLanguageKey).flag"></span>
          <span>{{getLanguageFromKey(selectedLanguageKey).label}}</span>
        </div>
      </ng-template>

      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span [class]="'fi fi-' + language.flag"></span>
          <span>{{language.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>

    <p-divider />

    
    <div class="flex items-center gap-2">
      <p-checkbox [binary]="true" (onChange)="toggleDarkMode($event.checked)" [(ngModel)]="darkMode" inputId="darkModeToggle" />
      <label for="darkModeToggle" i18n>Dark mode</label>
    </div>

    <p-divider />

    <p i18n>Default weather condition:</p>
    <p-dropdown
      [options]="dataSources"
      optionValue="value"
      [group]="true"
      styleClass="w-full"
      [style]="{'z-index': '1'}"
      [(ngModel)]="selectedDataSource" >

      <ng-template let-group pTemplate="group">
        <div class="flex align-items center">
          <img [src]="dataSourceIcons[group.value] || ''" class="mr-2" style="width: 20px" />
          <span>{{group.label}}</span>
        </div>
      </ng-template>

    </p-dropdown>

    <p-divider />

    <p i18n>Default length of forecast:</p>
    <div class="flex flex-row">
      <p-inputNumber [(ngModel)]="forecastLength.value" styleClass="w-full" [inputStyle]="{'width': '100%', 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'text-align': 'right'}" />
      <p-dropdown
        [(ngModel)]="forecastLength.unitId"
        [options]="forecastLengthOptions"
        optionLabel="display"
        optionValue="id"
        [style]="{'border-radius': '0 var(--border-radius) var(--border-radius) 0', 'width': '7rem'}" />
    </div>

    <p-divider />

    <p i18n>Labeled weather images</p>
    <div class="flex flex-row gap-1">
      <p-checkbox [(ngModel)]="labeledImages" [binary]="true" inputId="labeled_images"></p-checkbox>
      <label for="labeled_images" i18n>Show labels on the weather images.</label>
    </div>
  </p-tabPanel>

  <p-tabPanel [header]="localizedTexts.titleLocationSettings">
    @if(locationsAlreadyLoaded) {
      @if(workingLocation) {
        <div class="flex flex-row h-full gap-2">
          <div class="flex flex-column gap-2">
            <p-listbox
              [options]="locationsList"
              optionLabel="name"
              optionValue="id"
              [listStyle]="{'min-height': 'fit-content', 'width': '10rem'}"
              styleClass="flex flex-grow-1"
              (onChange)="setWorkingLocation($event.value)"
              [(ngModel)]="workingLocation.id" />

            <div class="flex-grow-1"></div>

            <p-button [label]="localizedTexts.buttonAddLocation" icon="pi pi-plus" styleClass="w-full" (onClick)="addInitialLocation()" />
          </div>

          <p-divider layout="vertical" />

          <div class="flex flex-column flex-grow-1 w-full">
            <p class="mt-0" i18n>Location name:</p>
            <input type="text" pInputText [(ngModel)]="workingLocation.name">

            <p i18n>Timezone:</p>
            <p-dropdown
              [options]="timezoneList"
              optionValue="name"
              optionLabel="name"
              [group]="true"
              styleClass="w-full"
              [filter]="true"
              filterBy="name"
              [style]="{'z-index': 3}"
              [(ngModel)]="workingLocation.timezoneCode" >

              <ng-template let-group pTemplate="group">
                <div class="flex align-items center color-primary">
                  <span>---- {{group.label}} ----</span>
                </div>
              </ng-template>

            </p-dropdown>

            <div class="flex flex-row w-full gap-2">
              <div class="flex flex-column w-full">
                <p i18n>Latitude:</p>
                <p-inputNumber [(ngModel)]="workingLocation.coordinates.latitude" maxFractionDigits="5" styleClass="w-full" [inputStyle]="{'width': '100%', 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'text-align': 'right'}" />
              </div>
              <div class="flex flex-column w-full">
                <p i18n>Longitude:</p>
                <p-inputNumber [(ngModel)]="workingLocation.coordinates.longitude" maxFractionDigits="5" styleClass="w-full" [inputStyle]="{'width': '100%', 'border-radius': '0 var(--border-radius) var(--border-radius) 0', 'text-align': 'right'}" />
              </div>
            </div>

            <div class="flex flex-row flex-grow-1 gap-2">
              <div class="flex flex-column w-full">
                <p i18n>Region size:</p>
                <div class="flex flex-row">
                  <p-inputNumber
                    [(ngModel)]="workingLocation.region.size.length"
                    inputId="size"
                    [inputStyle]="{'text-align': 'right' , 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'width': '100%'}"
                    styleClass="w-full"
                    class="w-full" />
                  <p-dropdown
                    [(ngModel)]="workingLocation.region.size.unitId"
                    [options]="regionSizeOptions"
                    optionLabel="display"
                    optionValue="id"
                    [style]="{'width': '7rem', 'border-radius': '0 var(--border-radius) var(--border-radius) 0', 'z-index': 2}" />
                </div>
              </div>
              <div class="flex flex-column w-full">
                <p i18n>Resolution (results in n &#x2715; n steps):</p>
                <p-inputNumber
                  [(ngModel)]="workingLocation.region.resolution"
                  mode="decimal"
                  [inputStyle]="{'width': '100%'}"
                  styleClass="w-full" />
              </div>
            </div>

            <p-divider />

            <div class="flex flex-row gap-2 w-full justify-content-center">
              <p-button [label]="localizedTexts.buttonDeleteLocation" icon="pi pi-trash" (onClick)="deleteWorkingLocation()" />
            </div>
          </div>
        </div>
      }
      @else {
        <div class="w-full h-full flex flex-column justify-content-center align-items-center">
          <p i18n>No locations found. Add a location to get started.</p>
          <p-button [label]="localizedTexts.buttonAddLocation" icon="pi pi-plus" (onClick)="addInitialLocation()" />
        </div>
      }
    }
    @else {
      <div class="w-full h-full flex flex-column justify-content-center align-items-center">
        <p-progressSpinner />
      </div>
    }
  </p-tabPanel>

  <p-tabPanel [header]="localizedTexts.titleUpdateSettings">
    <p i18n>Update check & notification</p>
    <div class="flex flex-row gap-1">
      <p-checkbox [(ngModel)]="updateCheck" [binary]="true" inputId="update_notification"></p-checkbox>
      <label for="update_notification" i18n>Check for updates at startup and notify me when an update is available.</label>
    </div>

    <p-divider />

    <p-button [label]="localizedTexts.buttonCheckForUpdates" (onClick)="triggerUpdateCheck()" />
  </p-tabPanel>

  <div class="flex flex-grow-1"></div>

  <div class="flex flex-row gap-2 justify-content-center m-2">
    <p-button i18n (onClick)="saveAndClose()">Save & Close</p-button>
    <p-button i18n (onClick)="discardAndClose()">Discard & Close</p-button>
  </div>
</p-tabView>
