<p-tabView class="w-full h-full" [classList]="'flex flex-grow-1'" styleClass="flex flex-column flex-grow-1" [scrollable]="true">
  <p-tabPanel header="General">
    <p class="mt-0">Language:</p>
    <p-dropdown
      [options]="languages"
      styleClass="w-full"
      optionValue="key"
      optionLabel="label"
      [style]="{'z-index': '3'}"
      [(ngModel)]="selectedLanguageKey" >

      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" @if(selectedLanguage)>
          <span [class]="'fi fi-' + getLanguageFromKey(selectedLanguageKey).flag"></span>
          <span>{{getLanguageFromKey(selectedLanguageKey).label}}</span>
        </div>
      </ng-template>

      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2">
          <span [class]="'fi fi-' + language.flag"></span>
          <span>{{language.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>

    <p-divider />

    <p>Timezone:</p>
    <p-dropdown
      [options]="timezoneList"
      optionValue="name"
      optionLabel="name"
      [group]="true"
      styleClass="w-full"
      [filter]="true"
      filterBy="name"
      [style]="{'z-index': '2'}"
      [(ngModel)]="selectedTimezoneCode" >

      <ng-template let-group pTemplate="group">
        <div class="flex align-items center color-primary">
          <span>---- {{group.label}} ----</span>
        </div>
      </ng-template>

    </p-dropdown>

    <p-divider />

    <p>Default weather condition:</p>
    <p-dropdown
      [options]="dataSources"
      optionValue="value"
      [group]="true"
      styleClass="w-full"
      [style]="{'z-index': '1'}"
      [(ngModel)]="selectedDataSource" >

      <ng-template let-group pTemplate="group">
        <div class="flex align-items center">
          <img [src]="dataSourceIcons[group.value] || ''" class="mr-2" style="width: 20px" />
          <span>{{group.label}}</span>
        </div>
      </ng-template>

    </p-dropdown>

    <p-divider />

    <p>Default length of forecast:</p>
    <div class="flex flex-row">
      <p-inputNumber [(ngModel)]="forecastLength.value" styleClass="w-full" [inputStyle]="{'width': '100%', 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'text-align': 'right'}" />
      <p-dropdown [(ngModel)]="forecastLength.unit" [options]="['hours', 'days']" [style]="{'border-radius': '0 var(--border-radius) var(--border-radius) 0', 'width': '7rem'}"></p-dropdown>
    </div>

    <p-divider />

    <p>Update check & notification</p>
    <div class="flex flex-row gap-1">
      <p-checkbox [(ngModel)]="updateCheck" [binary]="true" inputId="update_notification"></p-checkbox>
      <label for="update_notification">Check for updates at startup and notify me when an update is available.</label>
    </div>

    <p-divider />

    <div class="flex flex-row gap-2">
      <p-button label="Save" icon="pi pi-save" (onClick)="saveSettings()" />
      <p-button label="Discard" icon="pi pi-times" (onClick)="closeWindow()" />
    </div>

    <div class="flex-grow-1"></div>
  </p-tabPanel>

  <p-tabPanel header="Locations">
    @if(locationsAlreadyLoaded) {
      @if(workingLocation) {
        <div class="flex flex-row h-full gap-2">
          <div class="flex flex-column gap-2">
            <p-listbox
              [options]="locationsList"
              optionLabel="name"
              optionValue="id"
              [listStyle]="{'min-height': 'fit-content', 'width': '10rem'}"
              styleClass="flex flex-grow-1"
              (onChange)="setWorkingLocation($event.value)"
              [(ngModel)]="workingLocation.id" />

            <div class="flex-grow-1"></div>

            <p-button label="Add Location" icon="pi pi-plus" styleClass="w-full" (onClick)="addInitialLocation()" />
          </div>

          <p-divider layout="vertical" />

          <div class="flex flex-column flex-grow-1 w-full">
            <p class="mt-0">Location name:</p>
            <input type="text" pInputText [(ngModel)]="workingLocation.name">

            <p>Timezone:</p>
            <p-dropdown
              [options]="timezoneList"
              optionValue="tzCode"
              optionLabel="label"
              [group]="true"
              styleClass="w-full"
              [filter]="true"
              filterBy="label"
              [style]="{'z-index': 3}"
              [(ngModel)]="workingLocation.timezoneCode" >

              <ng-template let-group pTemplate="group">
                <div class="flex align-items center color-primary">
                  <span>---- {{group.label}} ----</span>
                </div>
              </ng-template>

            </p-dropdown>

            <div class="flex flex-row w-full gap-2">
              <div class="flex flex-column w-full">
                <p>Latitude:</p>
                <p-inputNumber [(ngModel)]="workingLocation.coordinates.latitude" maxFractionDigits="5" styleClass="w-full" [inputStyle]="{'width': '100%', 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'text-align': 'right'}" />
              </div>
              <div class="flex flex-column w-full">
                <p>Longitude:</p>
                <p-inputNumber [(ngModel)]="workingLocation.coordinates.longitude" maxFractionDigits="5" styleClass="w-full" [inputStyle]="{'width': '100%', 'border-radius': '0 var(--border-radius) var(--border-radius) 0', 'text-align': 'right'}" />
              </div>
            </div>

            <div class="flex flex-row flex-grow-1 gap-2">
              <div class="flex flex-column w-full">
                <p>Region size:</p>
                <div class="flex flex-row">
                  <p-inputNumber
                    [(ngModel)]="workingLocation.region.size.length"
                    inputId="size"
                    [inputStyle]="{'text-align': 'right' , 'border-radius': 'var(--border-radius) 0 0 var(--border-radius)', 'width': '100%'}"
                    styleClass="w-full"
                    class="w-full" />
                  <p-dropdown
                    [(ngModel)]="workingLocation.region.size.unit"
                    [options]="['km', 'mi']"
                    [style]="{'width': '7rem', 'border-radius': '0 var(--border-radius) var(--border-radius) 0', 'z-index': 2}" />
                </div>
              </div>
              <div class="flex flex-column w-full">
                <p>Resolution (results in n &#x2715; n steps):</p>
                <p-inputNumber
                  [(ngModel)]="workingLocation.region.resolution"
                  mode="decimal"
                  [inputStyle]="{'width': '100%'}"
                  styleClass="w-full" />
              </div>
            </div>

            <p-divider />

            <div class="flex flex-row gap-2 w-full justify-content-center">
              <p-button label="Save" icon="pi pi-save" (onClick)="saveWorkingLocation()" />
              <p-button label="Discard" icon="pi pi-times" (onClick)="closeWindow()" />
              <p-button label="Delete" icon="pi pi-trash" (onClick)="deleteWorkingLocation()" />
            </div>
          </div>
        </div>
      }
      @else {
        <div class="w-full h-full flex flex-column justify-content-center align-items-center">
          <p>No locations found. Add a location to get started.</p>
          <p-button label="Add location" icon="pi pi-plus" (onClick)="addInitialLocation()" />
        </div>
      }
    }
    @else {
      <div class="w-full h-full flex flex-column justify-content-center align-items-center">
        <p-progressSpinner />

        <p-messages
          [(value)]="locationLoadingMessages"
          [enableService]="false"
          [closable]="false" />
      </div>
    }
  </p-tabPanel>
</p-tabView>
