p {
  margin-bottom: 5px;
}

:host {
  height: 100%;
  display: flex;
}

p-tabview {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

:host ::ng-deep .p-tabview-panels, :host ::ng-deep .p-tabpanels {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
