/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/arya-orange/theme.css";
// @import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "flag-icons/css/flag-icons.min.css";

@font-face {
    font-family: 'Poppins';
    src: url(assets/Poppins-Regular.ttf) format('truetype');
}

* {
    font-family: 'Poppins', 'regular';
    font-size: 12pt;
}